#header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #73c4f0;
}
#profile-button {
    margin-top: 0px;
    right: 12.5%;
    background: none;
    height: 50px;
    width: 50px;
    object-fit: cover;
} 

/**** CENTER ****/
#header-center{
    display: flex;
    align-items: center;
    height: 100%;
}
#search-bar {
    height: 3.5vh;
    width: 100%;
    align-items: center;
}
#search-bar input {
    height: 100%;
    width: 25vw;
    border: 1px solid rgb(198, 196, 196);
    border-radius: 15px;
    padding-left: 15px;

}
#search-bar:active{
    border: 1px solid rgb(198, 196, 196);
    border-radius: 15px;
}

/**** LEFT  ****/
#header-left{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
button#home-button{
    font-size: x-large; 
    background: none;
    border: none;
    width: auto;
    color: white;
}



/**** RIGHT  ****/
#header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

#closer-together{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
    width: 6.5vw;
}

button#logout-button {
    color: white;
    font-weight: bold;
    background: none;
}

#user-name {
    background: none;
    color: white;

} 
button#home-button {
    background: none;
    border-style: none;
    font-size: x-large;
    font-family: 'Manrope';
    font-weight: 600;
    color: white;
}
button#logout-button{
    color: white;
    border: none;
    background: none;
    font-size: large;
    font-family: 'Manrope';
    font-weight: 600;
}
