.like-component {
    display: flex;
    margin-right: 10px;
}

.like-button {
    background: none;
    font-size: x-large;
    border: none;
}

.like-button:hover {
    cursor: pointer;
    background: none;
}